section {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 1rem 1.5rem;
}

.main-card {
    display: grid;
    grid-template-areas:
        "card-old card-new";
    grid-template-columns: 49.7% 49.7%;
    grid-template-rows: 90vh;
    grid-gap: 1rem;
}

.card-old {
    grid-area: card-old;
    border-radius: 0.3rem;
    background: #12161D;
    border: 1px solid #1F2632;
    padding: 0.5rem;
}

.card-new {
    grid-area: card-new;
    border-radius: 0.3rem;
    background: #12161D;
    border: 1px solid #1F2632;
    padding: 0.5rem;
}

.card-action{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    border: 2px solid #1F2632;
    background: #2F3A4C;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem
}

.icon-qr-label{
    content: url('../../icon/i-qr-label.svg');
    width: 4rem;
}

.text-lale-qr{
    font-size: 1.3rem;
    color: #FFFFFF;
    font-family: "Poppins Medium";
}

.form-control.qr-code{
    background: #4C5B73;
    border: 1px solid #4C5B73;
}

.card-header-input{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    background: #607494;
    font-family: "Poppins Medium";
}

.card-body-input{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background: #2F3A4C;
}

dt{
    font-family: "Poppins Medium";
    color: #FFFFFF;
    font-size: 1rem;
}

dd{
    font-family: "Poppins Italic";
    color: #FFFFFF;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.judul-menu {
    font-family: "Poppins Medium";
    font-size: 1.5rem;
    margin: 0rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.judul-menu i {
    content: url('../../icon/icon-jdl-return.svg');
    width: 2.5rem;
    margin-right: 0.5rem;
}

.card-no-assy{
    width: auto;
    height: auto;
    padding: 0.2rem 0.6rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: "Poppins Italic";
    background: #8082F4;
    border-radius: 0.3rem;
}

.card-table table thead{
    width: 100%;
    background: #607494;
    color: #FFFFFF;
    font-family: "Poppins Medium";
}

.card-table table thead tr th{
    border: 1px solid #1F2632;
    text-align: center;
    padding: 1.2rem 0rem;
    font-size: 0.9rem;
}

.card-table{
    width: 100%;
    height: 29rem;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.card-table::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.card-table::-webkit-scrollbar-track {
    background: #2F3A4C;
}

/* Handle */
.card-table::-webkit-scrollbar-thumb {
    background: #607494;
}

/* Handle on hover */
.card-table::-webkit-scrollbar-thumb:hover {
    background: #607494;
}

.card-table table{
    width: 100%;
}

.card-table table tbody{
    width: 100%;
    background: #45546F;
    color: #FFFFFF;
    font-family: "Poppins Medium";
}

.card-table table tbody tr td{
    border: 1px solid #1F2632;
    text-align: center;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
}

.floatThead-container{
    text-align: center;
    font-size: 0.9rem;
    background: #607494;
    color: #FFFFFF;
    font-family: "Poppins Medium";
    padding: 0.5rem;
    /* border: 1px solid #1F2632; */
}

.card-header-asyy{
    width: 100%;
    height: auto;
    padding: 0.3rem;
    font-size: 0.8rem;
    color: #FFFFFF;
    background: #607494;
    font-family: "Poppins Medium";   
}

.card-body-asyy-1{
    width: 100%;
    height: 13rem;
    padding: 0.5rem;
    background: #2F3A4C;
}

.card-body-asyy-1.old{
    height: 9rem;
}

.card-body-asyy-2{
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    background: #2F3A4C;
}

.card-content-assy-1{
    width: 100%;
    height: 12rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-content-assy-1.old{
    height: 8rem;
}

.card-icon-assy-1{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #54637C;
}

.old .card-icon-assy-1{
    height: 8rem;
}

/* width */
.card-content-assy-1::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.card-content-assy-1::-webkit-scrollbar-track {
    background: #2F3A4C;
}

/* Handle */
.card-content-assy-1::-webkit-scrollbar-thumb {
    background: #607494;
}

/* Handle on hover */
.card-content-assy-1::-webkit-scrollbar-thumb:hover {
    background: #607494;
}

.card-content-assy-2{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-11{
    padding-left: 0rem;
}

.form-control.assy{
    font-family: "Poppins Italic";
    background: #4C5B73;
    border: 1px solid #1F2632;
    border-radius: 0rem;
    font-size: 0.8rem;
}

.input-group-text.assy{
    border-radius: 0rem;
    background: #4C5B73;
    border: 1px solid #1F2632;
    font-size: 0.8rem;
}

.icon-form-tool{
    width: 55%;
    content: url('../../icon/icon-form-tool.svg');
}

.old .icon-form-tool{
    width: 35%;
}

.icon-form-accesories{
    width: 70%;
    content: url('../../icon/icon-form-accesories.svg');
}

.icon-form-holder{
    width: 100%;
    content: url('../../icon/icon-form-holder.svg');
}