section {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 1rem 1.5rem;
}

.group-flow{
    display: grid;
    grid-template-areas:
        "flow-card-1 flow-card-1 flow-card-1"
        "flow-identify flow-transaction flow-return";
    grid-template-columns: 32.8% 32.8% 32.8%;
    grid-template-rows: 44vh 44vh;
    grid-gap: 1rem;
}

.flow-card-1 {
    grid-area: flow-card-1;
    border-radius: 0.3rem;
    background: #12161D;
    border: 1px solid #1F2632;
}

.flow-identify {
    grid-area: flow-identify;
    border-radius: 0.3rem;
    background: #12161D;
    border: 1px solid #1F2632;
}

.flow-transaction {
    grid-area: flow-transaction;
    border-radius: 0.3rem;
    background: #12161D;
    border: 1px solid #1F2632;
}

.flow-return {
    grid-area: flow-return;
    border-radius: 0.3rem;
    background: #12161D;
    border: 1px solid #1F2632;
}

.flow-header{
    width: 100%;
    padding: 0.5rem;
    background: #2F3A4C;
    color: #FEFEFE;
    font-size: 1.3rem;
    font-family: "Poppins Medium";
    text-align: start;
}

.flow-body{
    width: 100%;
    padding: 1rem;
    background: transparent;
    overflow: hidden;
}

.card-menu-grup{
    position: relative;
    width: 100%;
    height: 7.2rem;
    border-radius: 0.3rem;
    background: #2F3A4C;
    border: 1px solid #5D5FEF;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.card-menu-grup:hover,
.card-menu-grup.active{
    background: #5D5FEF;
    border: 1px solid #5D5FEF;
}

.card-menu-grup:last-child(){
    margin-bottom: 0rem;
}

.text-name-menu{
    color: #FFFFFF;
    font-family: "Poppins Medium";
    font-size: 1.5rem;
}

.text-name-des{
    color: #FFFFFF;
    font-family: "Poppins Regular";
    font-size: 1rem;
}

.notif-count{
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    width: 2rem;
    height: 2rem;
    background: #EB4F4F;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-marking-inc{
    content: url('../../icon/icon-marking-inc.svg');
    width: 4rem;
}

.icon-inspection-inc{
    content: url('../../icon/icon-inspection-inc.svg');
    width: 4rem;
}

.icon-goods-inc{
    content: url('../../icon/icon-goods-inc.svg');
    width: 4rem;
}

.icon-assy-inc{
    content: url('../../icon/icon-assy-inc.svg');
    width: 1.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.icon-measure-inc{
    content: url('../../icon/icon-measure-inc.svg');
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon-assy-stock-inc{
    content: url('../../icon/icon-assy-stock-inc.svg');
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon-gate-inc{
    content: url('../../icon/icon-gate-inc.svg');
    width: 4rem;
}

.icon-abnormality-inc{
    content: url('../../icon/icon-abnormality-inc.svg');
    width: 4rem;
}

.icon-analyze-inc{
    content: url('../../icon/icon-analyze-inc.svg');
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.icon-regrind-inc{
    content: url('../../icon/icon-regrind-inc.svg');
    width: 1.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

#our_data_1{
    height: 22rem;
}