section{
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 1rem 1.5rem;
}

.card-header{
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0.5rem;
    display: flex;
    justify-content: start;
}

.card-header .dropdown-toggle{
    font-family: "Poppins Medium";
    font-size: 1rem;
    color: #FFFFFF;
    background: transparent;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.dropdown-item{
    font-family: "Poppins Medium";
    font-size: 1rem;
    color: #A3A3A3;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu.show{
    background: #12161D;
    border: 1px solid #FFFFFF;
}

.dropdown-menu .active a,
.dropdown-menu .active{
    background: #E6E6E6;
    color: #696969;
}

.card-header .dropdown-toggle.show,
.card-header .dropdown-toggle:hover,
.card-header .dropdown-toggle.active{
    background: #C6C7FD;
    color: #5D5FEF;
}

.card-body{
    width: 100%;
    height: 100%;
    background: #12161D;
    border: 1px solid #1F2632;
    border-radius: 0.3rem;
    padding: 1rem;
}

.gridtable tbody {
    display: block;
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 1rem;
}

.table>:not(:first-child) {
    border-top: none !important;
}

/* width */
.gridtable tbody::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.gridtable tbody::-webkit-scrollbar-track {
    background: #2F3A4C; 
}

/* Handle */
.gridtable tbody::-webkit-scrollbar-thumb {
    background: #607494; 
}

/* Handle on hover */
.gridtable tbody::-webkit-scrollbar-thumb:hover {
    background: #607494; 
}

.gridtable thead,
.gridtable tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-family: "Poppins Regular";
}

.gridtable thead {
    width: 100%;
}

.gridtable thead {
    position: relative;
    font-family: "Poppins Regular";
    color: #FFFFFF;
}

.gridtable thead th:last-child:after {
    display: none;
}

.gridtable tbody tr{
    border-radius: 0.3rem;
    border-bottom: 1px solid transparent;
}

.gridtable tbody tr:nth-child(even) {
    background-color: transparent;
}
  
.gridtable tbody tr:nth-child(odd) {
    background-color: #2F3A4C;
}

.gridtable tbody tr td{
    padding: 0.2rem 8px;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.gridtable thead tr{
    border-bottom: 1px solid transparent;
}

.gridtable tbody tr:last-child {
    margin-bottom: 5rem;
}

.gridtable thead tr th:last-child {
    width: 1rem;
}

.gridtable thead tr th:first-child{
    padding-left: 1rem;
}

.gridtable thead tr th:nth-child(1),
.gridtable tbody tr td:nth-child(1){
    width: 10%;
    text-align: center;
}

.gridtable thead tr th:nth-child(2),
.gridtable tbody tr td:nth-child(2){
    width: 20%;
    text-align: center;
}

.gridtable thead tr th:nth-child(3),
.gridtable tbody tr td:nth-child(3){
    width: 20%;
    text-align: center;
}

.gridtable thead tr th:nth-child(4),
.gridtable tbody tr td:nth-child(4){
    width: 30%;
    text-align: center;
}

.gridtable thead tr th:nth-child(5),
.gridtable tbody tr td:nth-child(5){
    width: 20%;
    text-align: center;
}

.judul-menu{
    font-family: "Poppins Medium";
    font-size: 1.5rem;
    margin: 0rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.judul-menu i{
    content: url('../../icon/jdl-i-line.svg');
    width: 2.5rem;
    margin-right: 0.5rem;
}