section{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
}

.main-card{
    display: grid;
    grid-template-areas:
        "step-grid"
        "action";
    grid-template-columns: 100%;
    grid-template-rows: 15vh 63vh;
    grid-gap: 1rem;
}

.step-grid{
    grid-area: step-grid;
    background: #FFFFFF;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
}

.step-up{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #583D72;
    position: relative;
}

.step-down{
    width: 100%;
    height: 2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.step-down p:nth-child(1){
    font-size: 1.7rem;
    font-family: "Poppins Italic";
    font-weight: bold;
    color: #583D72;
    margin: 0rem;
}

.step-down p:nth-child(2){
    font-size: 1.7rem;
    font-family: "Poppins Italic";
    font-weight: bold;
    color: #969696;
    margin: 0rem;
}

@media screen and (max-width: 1200px) {
    .step-down{
        height: 1.8rem;
    }

    .step-down p:nth-child(1),
    .step-down p:nth-child(2){
        font-size: 0.9rem;
    }
}

.action{
    grid-area: action;
    background: #FFFFFF;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
    padding: 1rem;
}

.button{
    grid-area: button;
}

.btn-step{
    width: 100%;
    height: auto;
    border: 1px solid #583D72;
    background: #583D72;
    color: #FFFFFF;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1.1rem;
    font-family: "Poppins Reguler";
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.185);
    margin: 0rem;
}

@media screen and (max-width: 1200px) {
    .btn-step{
        padding: 0.2rem;
        font-size: 0.9rem;
    }
}

.btn-step:hover{
    border: 1px solid #583D72;
    background: #FFFFFF;
    color: #583D72;
}

.wizard-form{
    position: absolute;
    width: 125%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    .wizard-form{
        width: 120%;
        left: -4.1rem;
    }
}

.progressbar-list{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25%;
}

.progressbar-list p:nth-child(3){
    width: 100%;
    margin: 0rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Poppins Reguler";
}

.progressbar-list p:nth-child(4){
    width: 100%;
    margin: 0rem;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Poppins Italic";
}

@media screen and (max-width: 1200px) {
    .progressbar-list p:nth-child(3){
        font-size: 0.7rem;
    }

    .progressbar-list p:nth-child(4){
        font-size: 0.6rem;
    }
}

.wizard-form .progressbar-list i:nth-child(2) {
    position: relative;
    content: "";
    background: D9D9D9;
    border: 10px solid #D9D9D9;
    border-radius: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 9px auto;
    box-shadow: 1px 1px 3px #606060;
    transition: all;
}

.wizard-form .progressbar-list.active i:nth-child(2)::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 9999;
    background: #32C725;
}

.wizard-form .progressbar-list i:nth-child(1) {
    content: "";
    background: #D9D9D9;
    padding: 0px 0px;
    position: absolute;
    top: 7px;
    left: -50%;
    width: 100%;
    height: 0.3rem;
    margin: 9px auto;
    transition: all 0.8s;
}

.wizard-form .progressbar-list.active i:nth-child(1) {
    background: #32C725;
}

.wizard-form .progressbar-list:first-child i:nth-child(1) {
    display: none;
}

.wizard-form .progressbar-list.active i:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    background: #32C725;
    border: 1px solid #32C725;
    box-shadow: 0 0 0 7.5px rgb(118 60 176 / 11%);
}

.progressbar-list {
    color: #6f787d;
}

.active {
    color: #000;
}

.main-card-scan{
    display: grid;
    grid-template-areas:
        "input-scan card-info"
        "input-manual card-info";
    grid-template-columns: 30% 69%;
    grid-template-rows: 26.5vh 26.5vh;
    grid-gap: 1rem;   
}

@media screen and (max-width: 1200px) {
    .main-card-scan{
        grid-template-areas:
        "input-scan input-manual"
        "card-info card-info";
    grid-template-columns: 49% 49%;
    grid-template-rows: 10vh 43.5vh;
    }
}

.input-scan{
    grid-area: input-scan;
}

.input-manual{
    grid-area: input-manual;
}

.card-info{
    grid-area: card-info;
    background: #FFFFFF;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
    padding: 0rem 1rem;
}

.card-scane{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    background: #FFFFFF;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.2rem 0.3rem #bf92ec;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1rem;
}

.card-scane .card-scane-content {
    position: relative;
    left: -0.5em;
    transition: all 0.25s;
    width: 150%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.card-scane::before, .card-scane::after {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #E8DBF5;
    transition: all 0.25s;
    color: #583D72;
}

.card-scane::before {
    width: 25px;
    content: "\f27a";
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bootstrap-icons !important;
    font-size: 2rem;
    font-weight: bold;
    text-indent: 5px;
    border-radius: 50% 0 0 50%;
    z-index: 1;
}

.card-scane::after {
    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    content: attr(data-hover);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Poppins Medium";
}

@media screen and (max-width: 1200px) {
    .card-scane::after {
        font-size: 1.5rem;
    }
}

.card-scane:hover {
    border-color: #583D72;
}

.card-scane:hover .card-scane-content {
    left: -100%;
}

.card-scane:hover::before {
    right: 90%;
}

.card-scane:hover::after {
    right: 90%;
}

.card-scane-text{
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.card-scane-text p:nth-child(1){
    width: 100%;
    font-size: 2.5rem;
    color: #000000;
    margin: 0rem;
    font-family: "Poppins Medium";
}

.card-scane-text p:nth-child(2){
    width: 100%;
    font-size: 1rem;
    color: #000000;
    margin: 0rem;
    font-family: "Poppins Italic";
    text-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
    .card-scane-text p:nth-child(1){
        font-size: 1rem;
    }

    .card-scane-text p:nth-child(2){
        font-size: 0.5rem;
    }
}

.icon-scan-manual{
    content: url('../icon/icon-touch-manual.svg');
    width: 10rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.icon-scan-dies{
    content: url('../icon/icon-qr-scane.svg');
    width: 10rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .icon-scan-manual,
    .icon-scan-dies{
        width: 2.5rem;
    }
}

.card-cam{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card-cam canvas{
    width: 70%;
    height: auto;
    border-radius: 0.3rem;
    border: 1px solid #583D72;
}

.form-label{
    color: #000000;
    font-family: "Poppins Medium";
}

.form-control,
.form-control:focus{
    border: 1px solid #583D72;
}

.card-image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid #583D72;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.card-image img{
    width: 90%;
    border-radius: 50%;
}


@media screen and (max-width: 1200px) {
    .card-image{
        width: 4rem;
        height: 4rem;
    }

    .form-label{
        font-size: 0.8rem;
    }

    .form-control{
        font-size: 0.8rem;
        height: 2rem;
    }
}

.header-info{
    width: 100%;
    height: auto;
    padding: 0.3rem 0rem;
    font-size: 1rem;
    color: #000000;
    font-family: "Poppins Medium";
    border-bottom: 1px solid #583D72;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
    .header-info{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
}

.main-card-info{
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-step{
    position: absolute;
    bottom: -0.5rem;
}

.card-result{
    display: grid;
    grid-template-areas:
        "result-succsess new-dies"
        "result-succsess prev-dies";
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 26.5vh 26.5vh;
    grid-gap: 1rem;   
}

@media screen and (max-width: 1200px) {
    .card-result{
        grid-template-areas:
            "result-succsess"
            "new-dies"
            "prev-dies";
        grid-template-columns: 100%;
        grid-template-rows: 31vh 10vh 10vh;
    }
}

.result-succsess{
    grid-area: result-succsess;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.result-succsess img{
    width: 30%;
}

.result-succsess p:nth-child(2){
    width: 100%;
    text-align: center;
    font-family: "Poppins Medium";
    color: #583D72;
    font-size: 3rem;
    margin: 0rem;
}

.result-succsess p:nth-child(3){
    width: 100%;
    text-align: center;
    font-family: "Poppins Medium";
    color: #583D72;
    font-size: 1.5rem;
    margin: 0rem;
}

.new-dies{
    grid-area: new-dies;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
}

.prev-dies{
    grid-area: prev-dies;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
}

.header-result{
    width: 100%;
    height: auto;
    padding: 0.3rem 0.3rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: "Poppins Medium";
    border-bottom: 1px solid #583D72;
    margin-bottom: 0.5rem;
}

.body-result{
    width: 100%;
    height: 12.5rem;
    display: flex;
    align-items: center;
}

dt{
    font-family: "Poppins Medium";
    color: #030303;
    font-size: 1.2rem;
    flex: 0 0 auto;
    width: 40% !important;
}

dd{
    font-family: "Poppins Light";
    color: #030303;
    font-size: 1.2rem;
    flex: 0 0 auto;
    width: 60% !important;
}

@media screen and (max-width: 1200px) {
    .header-result{
        margin-bottom: 0rem;
        font-size: 0.8rem;
    }

    .body-result{
        height: 3.1rem;
    }

    dl{
        margin: 0rem;
    }

    dt,
    dd{
        font-size: 0.6rem;
        margin: 0rem;
    }
}

.card-image-result{
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #583D72;
    border-radius: 0.3rem;
}

.card-image-result img{
    width: 90%;
}

@media screen and (max-width: 1200px) {
    .card-image-result{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.form-check-input{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #583D72;
}

.form-check-label{
    padding-top: 0.2rem;
    padding-left: 0.3rem;
}

.form-check{
    margin-left: 0.5rem;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #583D72;
    border-color: #583D72;
}