/* :root {
    --color-1: #F4F6F9;
    --color-2: #0E1116;
    --color-3: #EEEEEF;
    --color-4: #9F80BE;
    --color-5: #CCB5E1;
    --color-6: #FFFFFF;
    --color-7: #E6E6E6;
    --color-8: #4C4C4C;
    --color-9: #aaa;
    --color-10: #A3A3A3;
    --color-11: #4F4F4F;
    --color-12: #6D6D6D;
    --color-13: #E8DBF5;
}
     */
/* [data-theme="dark"] {

} */

@font-face {
    font-family: "Poppins Medium";
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: "Poppins Regular";
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins Italic";
    src: url('../fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: "Poppins Light";
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: "Poppins Bold";
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
	background: #0A0C10;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

.sidebar {
    min-width: 6.5rem;
    max-width: 6.5rem;
    background: #0E1116;
    transition: all 0.3s;
    padding: 0rem 0.3rem;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

.sidebar-header {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.sidebar-header img {
    width: 90%;
    margin-bottom: 0.4rem;
}

.a-sidebar {
    color: #6E738D;
    flex: 0 0 auto;
}

.a-sidebar:hover {
    color: #0E1116;
}

.a-sidebar p {
    color: #6E738D;
    font-size: 0.6rem;
    font-family: "Poppins Medium";
}

.icon-sidebar-logo{
    content: url('../icon/logo-login.svg');
    width: 70%;
}

.card-sidebar {
    text-align: center;
    padding: 0.7rem 0rem;
    margin-bottom: 5px;
    border-radius: 0.3rem;
}

/* .active .card-sidebar,
.card-sidebar:hover{
    background: #6E738D;
} */

.card-sidebar p{
    font-family: "Poppins Medium";
    color: #6E738D;
    font-size: 0.7rem;
    margin: 0rem;
}

.active .card-sidebar p,
.card-sidebar:hover p{
    color: #5D5FEF;
}

/* Style Icon Sidebar */

.icon-header-menu-masterdata{
    content: url('../icon/i-masterdata-a.svg');
    width: 2rem;
    margin-right: 0.5rem;
}

.icon-header-menu-registrasi{
    content: url('../icon/i-registration-a.svg');
    width: 2rem;
    margin-right: 0.5rem;
}

.icon-header-menu-createmachine{
    content: url('../icon/i-createmachine-a.svg');
    width: 2rem;
    margin-right: 0.5rem;
}

.icon-header-menu-incoming{
    content: url('../icon/i-incoming-a.svg');
    width: 2rem;
    margin-right: 0.5rem;
}

.i-dashboard{
    content: url('../icon/i-dashboard.svg');
    width: 40%;
}

.active .card-sidebar .i-dashboard,
.card-sidebar:hover .i-dashboard{
    content: url('../icon/i-dashboard-a.svg');
    width: 40%;
}

.i-masterdata{
    content: url('../icon/i-masterdata.svg');
    width: 40%;
}

.active .card-sidebar .i-masterdata,
.card-sidebar:hover .i-masterdata{
    content: url('../icon/i-masterdata-a.svg');
    width: 40%;
}

.i-registration{
    content: url('../icon/i-registration.svg');
    width: 40%;
}

.active .card-sidebar .i-registration,
.card-sidebar:hover .i-registration{
    content: url('../icon/i-registration-a.svg');
    width: 40%;
}

.i-createmachine{
    content: url('../icon/i-createmachine.svg');
    width: 40%;
}

.active .card-sidebar .i-createmachine,
.card-sidebar:hover .i-createmachine{
    content: url('../icon/i-createmachine-a.svg');
    width: 40%;
}

.i-incoming{
    content: url('../icon/i-incoming.svg');
    width: 40%;
}

.active .card-sidebar .i-incoming,
.card-sidebar:hover .i-incoming{
    content: url('../icon/i-incoming-a.svg');
    width: 40%;
}

.i-pokayoke{
    content: url('../icon/i-pokayoke.svg');
    width: 40%;
}

.active .card-sidebar .i-pokayoke,
.card-sidebar:hover .i-pokayoke{
    content: url('../icon/i-pokayoke-a.svg');
    width: 40%;
}

.i-configure{
    content: url('../icon/i-configure.svg');
    width: 40%;
}

.active .card-sidebar .i-configure,
.card-sidebar:hover .i-configure{
    content: url('../icon/i-configure-a.svg');
    width: 40%;
}

.i-report{
    content: url('../icon/i-report.svg');
    width: 40%;
}

.active .card-sidebar .i-report,
.card-sidebar:hover .i-report{
    content: url('../icon/i-report-a.svg');
    width: 40%;
}

/* End Style Icon Sidebar */

.title-navbar{
    font-family: "Poppins Medium";
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin: 0rem;
}

.title-navbar.no-bold{
    font-weight: normal;
    font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
    .title-navbar{
        font-size: 1rem;
    }

    .title-navbar.no-bold{
        font-size: 0.8rem;
    }
}

.navbar{
    background: #0E1116;
    min-height: 6vh;
    padding: 0.5rem 1rem;
}

a{
    text-decoration: none;
}

.icon-ahm{
    content: url('../icon/ahm-login.svg');
    width: 7rem;
    margin-left: 1rem;
}

.form-control:disabled,
.form-control:focus,
.form-control{
    border: 1px solid #1F2632;
    box-shadow: none;
    color: #FFFFFF;
    font-family: "Poppins Medium";
    background: #51627e;
    border: 1px solid #FFFFFF;
}

.modal-header{
    background: #2F3A4C;
    border-color: #2F3A4C;
}

.modal-title{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins Medium";
}

.modal-body{
    background: #0A0C10;
}

.modal-footer{
    background: #0A0C10;
    border-color: #0A0C10;
}

.btn-icon-edit{
    color: #49A3E4;
    font-size: 1.5rem;
}

.btn-icon-delete{
    color: #DE0B0B;
    font-size: 1.5rem;
}

.btn-add{
    width: auto;
    height: auto;
    padding: 0.3rem 1rem;
    color: #FFFFFF;
    background: #48CD3D;
    border-radius: 0.3rem;
    border: 1px solid #48CD3D;
}

.btn-add:hover{
    border: 1px solid #48CD3D;
    background: #FFFFFF;
    color: #48CD3D;
}

.btn-edit{
    width: auto;
    height: auto;
    padding: 0.3rem 1rem;
    color: #FFFFFF;
    background: #49A3E4;
    border-radius: 0.3rem;
    border: 1px solid #49A3E4;
}

.btn-edit:hover{
    border: 1px solid #49A3E4;
    background: #FFFFFF;
    color: #49A3E4;
}

.btn-delete{
    width: auto;
    height: auto;
    padding: 0.3rem 1rem;
    color: #FFFFFF;
    background: #DE0B0B;
    border-radius: 0.3rem;
    border: 1px solid #DE0B0B;
}

.btn-delete:hover{
    border: 1px solid #DE0B0B;
    background: #FFFFFF;
    color: #DE0B0B;
}

.btn-border{
    width: auto;
    height: auto;
    padding: 0.3rem 1rem;
    color: #7B7B7B;
    background: transparent;
    border-radius: 0.3rem;
    border: 1px solid #7B7B7B;
}

.btn-border:hover{
    border: 1px solid #7B7B7B;
    background: #7B7B7B;
    color: #FFFFFF;
}

.btn-save{
    width: auto;
    min-width: 6rem;
    height: auto;
    padding: 0.3rem 1rem;
    color: #FFFFFF;
    background: #5D5FEF;
    border-radius: 0.3rem;
    border: 1px solid #5D5FEF;
    font-family: "Poppins Regular";
}

.btn-save:hover{
    border: 1px solid #5D5FEF;
    background: #FFFFFF;
    color: #5D5FEF;
}

.btn-cancel{
    width: auto;
    min-width: 6rem;
    height: auto;
    padding: 0.3rem 1rem;
    color: #5D5FEF;
    background: #FFFFFF;
    border-radius: 0.3rem;
    border: 1px solid #5D5FEF;
    font-family: "Poppins Regular";
}

.btn-cancel:hover{
    border: 1px solid #5D5FEF;
    background: #5D5FEF;
    color: #FFFFFF;
}

.card-auto{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border: 1px solid #1F2632;
    background: #12161D;
    border-radius: 0.3rem;
}

.text-label{
    color: #E6E6E6;
    font-size: 1rem;
    font-family: "Poppins Medium";
    display: flex;
    align-items: center;
    align-content: center;
}

.textarea-label{
    color: #E6E6E6;
    font-size: 1rem;
    font-family: "Poppins Medium";
    display: flex;
    align-items: start;
}

textarea.form-control{
    height: 5rem;
}

.select2-container--default .select2-selection--multiple{
    background-color: #51627e;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #FFFFFF;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: #2F3A4C;
    color: #FFFFFF;
}

.select2-dropdown,
.select2-container--default .select2-selection--single{
    background-color: #51627e;
    color: #FFFFFF;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background: #2F3A4C;
    font-family: "Poppins Italic";
    color: #FFFFFF;
}


.input-group.style-search{
    max-width: 40%;
}

.btn.input-group-text:hover{
    border-color: #12161D;
    background: #FFFFFF;
    color: #12161D;
}

.style-search .form-control{
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-color: #5D5FEF;
    color: #FFFFFF;
}

.style-search .input-group-text{
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-color: #5D5FEF;
    background: #5D5FEF;
    color: #FFFFFF;
}

.input-group-text{
    background: #5D5FEF;
    color: #FFFFFF;
}

.icon-excel{
    content: url('../icon/icon-excel.svg');
    width: 0.9rem;
}

.icon-pdf{
    content: url('../icon/icon-pdf.svg');
    width: 1.5rem;
}

.form-check-input:checked{
    background-color: transparent;
    border-color: #5D5FEF;
}

.form-check-input:focus{
    border-color: #5D5FEF;
    outline: 0;
    box-shadow: none;
}

.form-check-input[type=radio]{
    border-radius: 0rem;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.form-check-input:checked[type=radio] {
    border-radius: 0rem;
    background-image: url('../icon/icon-check.svg');
}

@keyframes blink {
    0% { 
        background-color: red; 
    }
    50% { 
        background: #ededed;
        color: #12161D;
    }
    100% { 
        background-color: red; 
    }
}

.blinking-background {
    animation: blink 1s infinite;
}

.form-control-td,
.form-control-td:focus{
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-family: "Poppins Medium";
    color: #FFFFFF;
    background: #2F3A4C;
}

/* Input image` */
.card-foto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card-foto img{
    width: 100%;
    border-radius: 0.3rem;
    margin: 0rem;
}

.input-type-file{
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0rem;
}

.style_input_image[type="file"] {
    height: 0;  
    width: 0;
    overflow: hidden;
}

.style_input_image[type="file"] + label {
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

/* .style_input_image[type="file"] + label:hover {
    background: #FFFFFF;
    color: #008cff;
} */
/* End input image` */

.card-profile-img{
    width: auto;
    height: 100%;
    margin-left:  1rem;
    padding-left: 1rem;
    border-left: 2px solid #4F4F4F;
    display: flex;
    justify-content: end;
}

.text-name-profile{
    text-align: end;
    font-family: "Poppins Medium";
    font-style: italic;
    font-size: 1.2rem;
    color: #ACACAC;
    margin: 0rem;
}

.text-role-profile{
    width: 100%;
    text-align: end;
    font-family: "Poppins Light";
    font-style: italic;
    font-size: 0.9rem;
    color: #ACACAC;
    margin: 0rem;
}

@media screen and (max-width: 600px) {
    .text-name-profile,
    .text-role-profile{
        display: none !important;
    }
}

.dropdown-toggle.profile{
    width: 3rem;
    height: 3rem;
}

.dropdown-toggle.profile img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.dropdown-toggle.profile::after,
.dropstart .dropdown-toggle.profile::before{
    display: none;
}

.tex-item-drop{
    font-family: "Poppins Medium";
    font-size: 1rem;
    color: #ACACAC;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label{
    color: #FFFFFF;
}